html
    head
        title #{title}
        css /css/stylesheet.css

    body
        h1 #{name}
        p #{jobName}

        h2 #{profile}
        p #{resume}

        h2 #{experience}
        p #{experienceTitle}
        ul #{experienceList}

        h2 #{interests}
        ul #{interestsList}

        h2 #{contact}
        ul #{contactList}

        h2 #{formation}
        ul #{formationList}
        ul #{formationList2}

        h2 #{skills}
        ul #{skillsList}

        h3 #{copyright}
        ul #{copyrightList}
